.ui.animated.list:not(.horizontal)>.item {
	padding: 10px;
}

.ui.animated.list:not(.horizontal)>.item:hover {
	cursor: pointer;

	color: white;
	background-color: teal;
}

.ui.list .item .content {
	display: relative;

	width: 100%;
}

.ui.list .item .content .delete.icon {
	display: absolute;
	right: 0;

	text-align: right;
}