
body {
	margin-top: 20px;
}

.ui.secondary.pointing.menu {
	background-color: white;
}

.ui.secondary.pointing.menu .header.item {
	background-color: teal;
	color: white !important;
}

.ui.secondary.pointing.menu a.item:hover {
	background-color: teal;
	color: white;
}

.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .active.item:hover {
	border-color: teal;
}

.ui.secondary.pointing.menu .active.item:hover {
	
	background-color: teal;
	color: white;
}

.ui.table th:not(#actions):hover {
	background-color: teal;
	color: white;

	cursor: pointer;
}

.ui.table th#id {
	width: 60px !important;
}

.ui.table th#prices {
	width: 130px !important;
}

.ui.table th#actions {
	width: 85px !important;
}

.ui.action.right.input {
	
}

.ui.dropdown.label {
	border: 1px solid;
	border-color: rgba(34,36,38,.15);
}

.ui.table {
	max-width: 100%;
}

.ui.table tr td .ui.list {
	margin: 0;
	max-height: 45px !important;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: hidden;
}

.ui.table tr:hover td{
	background-color: teal;
	color: white;

	cursor: pointer;
}

.ui.pagination.menu .active.item,
.ui.pagination.menu a.item:hover {
	background-color: teal;
	color: white;
}
