
.field .ui.search.button.rwd,
.ui.secondary.fixed.pointing.rwd.menu,
.ui.teal.fluid.button.add_price.rwd,
.ui.edit.button.rwd  {
	display: none;
}


@media only screen and (max-width: 1120px) {
	
	.ui.form:not(.unstackable) .two.fields:not(.unstackable)>.field {
		width: 100% !important;
		margin: 0 0 1em;
	}

	.ui.form .fields .field {
		clear: both;
	}

	.ui.form .fields {
		flex-wrap: wrap;
	}

	.ui.table th#id {
		width: 54px !important;
	}

	.ui.table th#prices {
		width: 100px !important;;
	}
	
}

@media only screen and (max-width: 767px) {

	.ui.table th#id {
		width: 100% !important;;
	}

	.ui.table th#actions {
		width: 100% !important;
	}

	.ui.filters.segment .ui.clear_filters.button {
		width: 100%;
	}

	.ui.index.segment .ui.add_product.button {
		width: 100%;
	}

	.ui.edit.button.rwd {
		display: block;
	}

	.ui.edit.button:not(.rwd) {
		display: none;
	}
	
}

@media only screen and (max-width: 650px) {

	body {
		margin-top: 100px;
	}

	.ui.secondary.fixed.pointing.menu:not(.rwd) {
		display: none;
	}

	.ui.secondary.fixed.pointing.rwd.menu {
		display: block;
		min-width: 100%;
	}

	.ui.form .ui.submit.button,
	.ui.form .ui.cancel.button {
		width: 100%;
	}

	#deleteForm.ui.form #delete_product.ui.button {
		width: 100%;
	}

}

@media only screen and (max-width: 580px) {

	.ui.action.search.input .ui.dropdown.label {
		font-size: 10px;
		width: 70px;
		text-align: center;
		height: 38px;
		line-height: 20px;
		word-wrap: wrap;
	}

	.ui.action.search.input .ui.dropdown.label .menu>.item {
		font-size: 10px;
		width: 70px;
		padding: 11px 16px 11px 10px !important;
		/*text-align: center;*/
	}

	.ui.action.search.input .ui.button {
		width: 100px;
		font-size: 12px;
	}

	.ui.pagination.menu i.icon{
		width: 10px;
	}

	.ui.pagination.menu .item {
		min-width: 20px;
		padding: .92857143em .84285714em;
	}

}

@media only screen and (max-width: 524px) {

	.ui.form .field>.selection.dropdown.pagination {
		min-width: 100%;
	}

	.ui.action.search.input .ui.dropdown.label {
		font-size: 10px;
		width: 65px;
		text-align: center;
		/*height: 38px;*/
		/*line-height: 30px;*/
		word-wrap: wrap;
	}

	.ui.action.search.input .ui.dropdown.label .menu>.item {
		font-size: 10px;
		width: 70px;
		padding: 11px 16px 11px 10px !important;
		/*text-align: center;*/
	}

	.ui.action.search.input .ui.search.button:not(.rwd) {
		display: none;
	}

	.field .ui.search.button.rwd {
		display: block !important;
	}

	.ui.pagination.menu i.icon{
		width: 4px;
	}

	.ui.pagination.menu .item {
		min-width: 5px;
		padding: .92857143em .54285714em;
	}

	.field[data-name="price"] .ui.action.input input.price {
		min-width: 100% - 62px;
	}

}

@media only screen and (max-width: 500px) {

	.ui.action.input>.button.ui.teal.add_price:not(.rwd) {
		display: none;
	}

	.ui.action.input {
		border-right: 1px solid rgba(34,36,38,.15);
		border-top-right-radius: .28571429rem;
		border-bottom-right-radius: .28571429rem;
	}

	.ui.teal.fluid.button.add_price.rwd {
		display: block;
	}

	.ui.delete.segment .ui.header .content,
	.ui.delete.segment .ui.header .content * {
		font-size: 20px;
	}
	
}

@media only screen and (max-width: 450px) {

	#productForm.ui.form .ui.header .content,
	#productForm.ui.form .ui.header .content * {
		font-size: 17px;
	}

}

@media only screen and (max-width: 400px) {

	.ui.delete.segment .ui.header .content,
	.ui.delete.segment .ui.header .content * {
		font-size: 18px;
	}

}

@media only screen and (max-width: 320px) {

	.ui.pagination.menu i.icon{
		width: 0.2px;
	}

	.ui.pagination.menu .item {
		min-width: 5px;
		padding: .92857143em .54285714em;
	}

	
}
